In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [3]:
def data_preprocessing_pipeline(data):
    ##Identify Nemric and Categorical Features
    numeric_features = data.select_dtypes(include = ['float','int']).columns
    categorical_features = data.select_dtypes(include = ['object']).columns
    ## Handling Missing Values in Numeric Data
    data[numeric_features] = data[numeric_features].fillna(data[numeric_features].mean())
    ## Detect and Handle Outliners
    for feature in numeric_features:
        Q1 = data[feature].quantile(0.25)
        Q3 = data[feature].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - (1.5 * IQR)
        upper_bound = Q3 + (1.5 * IQR)
        data[feature] = np.where((data[feature] < lower_bound) | (data[feature] > upper_bound),
                                 data[feature].mean(),data[feature])
    ## Normalize the data
    scaler = StandardScaler()
    scaled_data = scaler.fit_transform(data[numeric_features])
    data[numeric_features] = scaler.transform(data[numeric_features])
    ## Handling Missing Values in Categorical Data
    data[categorical_features] = data[categorical_features].fillna(data[categorical_features].mode().iloc[0])

In [4]:
data = pd.read_csv('data.csv')
data

   NumericFeature1  NumericFeature2 CategoricalFeature
0              1.0                7                  A
1              2.0                8                  B
2              NaN                9                NaN
3              4.0               10                  A
4              5.0               11                  B
5              6.0               50                  C

In [5]:
data_preprocessing_pipeline(data)
print("After Preprocessing:")
data

After Preprocessing:

   NumericFeature1  NumericFeature2 CategoricalFeature
0        -1.535624        -1.099370                  A
1        -0.944999        -0.749128                  B
2         0.000000        -0.398886                  A
3         0.236250        -0.048645                  A
4         0.826874         0.301597                  B
5         1.417499         1.994431                  C